.CpGrid
  // font-family: 'Roboto Mono', monospace
  .big-value
    font-size: 1rem !important
  .description
    display: inline-block
    vertical-align: middle
    min-width: 160px
    max-width: 240px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    color: $text-muted

  .table-cell
    cursor: pointer
    .btn-cell-context-menu
      +transition($transition-base)
      opacity: 0.4
    &:hover
      .btn-cell-context-menu
        opacity: 1

    &.table-link
      color: $primary
      text-decoration: underline
