.CpGrid
  // font-family: 'Roboto Mono', monospace
  .big-value
    font-size: 1rem !important
  .description
    display: inline-block
    vertical-align: middle
    min-width: 160px
    max-width: 240px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    color: $text-muted

  .table-cell
    cursor: pointer
    &::after
      content: '\f142'
      font: normal normal normal 14px/1 FontAwesome
      color: $gray-300
      display: inline-block
      vertical-align: middle
      margin-left: 0.25rem
      width: 0.5rem
      height: 1rem
      // background-color: red
      visibility: hidden
    &:hover
      &::after
        visibility: visible
