.Header
  display: flex
  justify-content: space-between
  align-self: center
  padding: 0.5rem 1rem
  padding-left: 6rem
  height: 80px

  .header--block
    font-size: 13px
    line-height: 1rem
    margin: 1rem 0
    margin-right: 0.5rem
    &:last-0f-type
      margin-right: 0

  .nav-wrapper
    flex-grow: 2
