@import "node_modules/b2b-styles/src/style/style.scss";
@import "./styles/Header";
@import "./styles/DropdownSmooth";
@import "./styles/CpGrid";

body {
  margin: 0;
  padding: 0;

}

.App {
  position: relative;
}

.header-item-container {
  margin: 1rem 0.5rem;
  p {
    margin: 0;
    padding: 0.5rem;
    line-height: 1rem;
    font-size: 13px;
  }
}

.Modal {
  padding: 2rem;
  color: white;
  background-color: rgba(0,0,0,0.92);
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.text-muted {
  color: #727579;
}

p {
  margin: 0.5rem;
}

.content {
  padding: 1rem;
}

.component {
  position: relative;
}
